*{
    margin: 0;
    padding: 0;
    max-width:100%;
   

}
.navbar-container{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 70px;
    width: 100vw;
    background-color: rgb(234, 234, 193);

  
        img{

            height: 60px;
            width :230px
        }
    


.swiggy-logo{
    width: 700px;
    margin-right: 120px;
    margin-left: 15px;
}

.current-user-name{
    color: #FC8019;
    font-weight: bold;
    font-size: large;
}

.logout-button{ 
    background-color: #FC8019 ;
    color: #ffffff;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    text-transform: none;
}

}