.order-card{
    box-sizing: border-box;
    max-width:100%;

    width: 100vw;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 




.order-items-details-card{
    padding: 3px;
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    div{
        width: 33px;
        font-weight: 700;
        /* border: 2px solid red; */
        /* height: 50px; */
        
    }
  
}

.order-items-details{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
  
}
.total{
    align-content: center;
    font-weight: bold;
    font-size: 18px;
    /* position: relative; */
    width: 100%;
    left: 85%;
    margin: 5px;
    height: 20px;

  }

.details-specifications{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    width: 600px;
    background-color: rgb(151, 145, 137);
    div{
        text-align: center;
        width: 33%;
        font-weight: 800;
       
    }
}